@model IEnumerable<TrinhHongQuyen_2122110059.Model.Product>

<h2>Danh sách Product</h2>

<a asp-action="AddProduct" class="btn btn-success">Thêm mới</a>
<a asp-action="Index" class="btn btn-primary">Quay lại</a>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Tên sản phẩm</th>
        <th>Hình ảnh</th>
        <th>Giá</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Image</td>
            <td>@item.Price</td>
            <td>
                <a asp-action="EditProduct" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Sửa</a>
                <a asp-action="DeleteProduct" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Xóa</a>
            </td>
        </tr>
    }
</table>
